<center>
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/SN_web_lightmode.png" width="300"> 
</center>

# Assignment: Exploratory Data Analysis with SQL
Estimated time needed: 60 minutes


# Introduction
Using this R notebook you will perform exploratory data analysis using SQL queries with the RSQLite R package. You will be graded on the accuracy of your results as well as the content of your SQL queries.

In [1]:
install.packages(c('RSQLite'), repos = 'http://cran.rstudio.com',dependecies=TRUE)

also installing the dependencies ‘fastmap’, ‘bit’, ‘rlang’, ‘cachem’, ‘bit64’, ‘blob’, ‘DBI’, ‘memoise’, ‘cpp11’

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [1]:
library("RSQLite")

In [2]:
library(readr)

Warning message:
“replacing previous import ‘lifecycle::last_warnings’ by ‘rlang::last_warnings’ when loading ‘tibble’”Warning message:
“replacing previous import ‘ellipsis::check_dots_unnamed’ by ‘rlang::check_dots_unnamed’ when loading ‘tibble’”Warning message:
“replacing previous import ‘ellipsis::check_dots_used’ by ‘rlang::check_dots_used’ when loading ‘tibble’”Warning message:
“replacing previous import ‘ellipsis::check_dots_empty’ by ‘rlang::check_dots_empty’ when loading ‘tibble’”

### Establish your SQlIte connection
Load the 'RSQLite' library, and use the 'dbConnect( )' function as you did in the previous lab to establish the connection to your SQLite database.  
You are now ready to start running SQL queries using the RSQLite library as you did in Course 3.

In [3]:
# provide your solution here
conn <- dbConnect(RSQLite::SQLite(),"Lab-SQL-EDA.sqlite")

Download the following csv files:

*   [WORLD_CITIES](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/world_cities.csv)

*   [BIKE_SHARING_SYSTEMS](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/bike_sharing_systems.csv)

*   [CITIES_WEATHER_FORECAST](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv)

*   [SEOUL_BIKE_SHARING](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv)

and load the csv's  into 4 tables as mentioned below
* SEOUL_BIKE_SHARING

* CITIES_WEATHER_FORECAST

* BIKE_SHARING_SYSTEMS 

*  WORLD_CITIES

> Hint : Use the read_csv() function and dbWriteTable() functions

In [4]:
SEOUL_BIKE_SHARING <- read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv")
CITIES_WEATHER_FORECAST <- read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv")
BIKE_SHARING_SYSTEMS <- read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/bike_sharing_systems.csv")
WORLD_CITIES <- read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/world_cities.csv")

dbWriteTable(conn, "SEOUL_BIKE_SHARING", SEOUL_BIKE_SHARING, overwrite = TRUE)
dbWriteTable(conn, "CITIES_WEATHER_FORECAST", CITIES_WEATHER_FORECAST, overwrite = TRUE)
dbWriteTable(conn, "BIKE_SHARING_SYSTEMS", BIKE_SHARING_SYSTEMS, overwrite = TRUE)
dbWriteTable(conn, "WORLD_CITIES", WORLD_CITIES, overwrite = TRUE)

Parsed with column specification:
cols(
  DATE = col_character(),
  RENTED_BIKE_COUNT = col_double(),
  HOUR = col_double(),
  TEMPERATURE = col_double(),
  HUMIDITY = col_double(),
  WIND_SPEED = col_double(),
  VISIBILITY = col_double(),
  DEW_POINT_TEMPERATURE = col_double(),
  SOLAR_RADIATION = col_double(),
  RAINFALL = col_double(),
  SNOWFALL = col_double(),
  SEASONS = col_character(),
  HOLIDAY = col_character(),
  FUNCTIONING_DAY = col_character()
)
Parsed with column specification:
cols(
  CITY = col_character(),
  WEATHER = col_character(),
  VISIBILITY = col_double(),
  TEMP = col_double(),
  TEMP_MIN = col_double(),
  TEMP_MAX = col_double(),
  PRESSURE = col_double(),
  HUMIDITY = col_double(),
  WIND_SPEED = col_double(),
  WIND_DEG = col_double(),
  SEASON = col_character(),
  FORECAST_DATETIME = col_datetime(format = "")
)
Parsed with column specification:
cols(
  COUNTRY = col_character(),
  CITY = col_character(),
  SYSTEM = col_character(),
  BICYCLES = col_double()
)
Parsed with column specification:
cols(
  CITY = col_character(),
  CITY_ASCII = col_character(),
  LAT = col_double(),
  LNG = col_double(),
  COUNTRY = col_character(),
  ISO2 = col_character(),
  ISO3 = col_character(),
  ADMIN_NAME = col_character(),
  CAPITAL = col_character(),
  POPULATION = col_double(),
  ID = col_double()
)


## Task 1 - Record Count
#### Determine how many records are in the seoul_bike_sharing dataset.

### Solution 1

In [6]:
dbGetQuery(conn, "SELECT COUNT(*) FROM SEOUL_BIKE_SHARING")

  COUNT(*)
1 8465

## Task 2 - Operational Hours
#### Determine how many hours had non-zero rented bike count.

### Solution 2

In [7]:
dbGetQuery(conn, "SELECT COUNT(*) FROM SEOUL_BIKE_SHARING WHERE RENTED_BIKE_COUNT != 0")

  COUNT(*)
1 8465

## Task 3 - Weather Outlook
#### Query the the weather forecast for Seoul over the next 3 hours.
Recall that the records in the CITIES_WEATHER_FORECAST dataset are 3 hours apart, so we just need the first record from the query.

### Solution 3

In [8]:
dbGetQuery(conn, "SELECT * FROM CITIES_WEATHER_FORECAST WHERE CITY = 'Seoul' LIMIT 1")

  CITY  WEATHER VISIBILITY TEMP  TEMP_MIN TEMP_MAX PRESSURE HUMIDITY WIND_SPEED
1 Seoul Clear   10000      12.32 10.91    12.32    1015     50       2.18
  WIND_DEG SEASON FORECAST_DATETIME
1 248      Spring 1618574400

## Task 4 - Seasons
#### Find which seasons are included in the seoul bike sharing dataset.

### Solution 4

In [11]:
dbGetQuery(conn, "SELECT DISTINCT SEASONS FROM SEOUL_BIKE_SHARING")

  SEASONS
1 Winter
2 Spring
3 Summer
4 Autumn

## Task 5 - Date Range
#### Find the first and last dates in the Seoul Bike Sharing dataset.

### Solution 5

In [12]:
dbGetQuery(conn, "SELECT MIN(DATE) AS first_date, MAX(DATE) AS last_date FROM SEOUL_BIKE_SHARING")

  first_date last_date
1 01/01/2018 31/12/2017

## Task 6 - Subquery - 'all-time high'
#### determine which date and hour had the most bike rentals.

### Solution 6

In [17]:
dbGetQuery(conn, "
SELECT DATE,
       HOUR
FROM SEOUL_BIKE_SHARING
WHERE RENTED_BIKE_COUNT = (SELECT MAX(RENTED_BIKE_COUNT) FROM SEOUL_BIKE_SHARING)
")

  DATE       HOUR
1 19/06/2018 18

## Task 7 - Hourly popularity and temperature by season
#### Determine the average hourly temperature and the average number of bike rentals per hour over each season. List the top ten results by average bike count.

### Solution 7

In [18]:
dbGetQuery(conn, "
SELECT SEASONS,
       HOUR,
       AVG(TEMPERATURE) AS avg_temperature,
       AVG(RENTED_BIKE_COUNT) AS avg_bike_count
FROM SEOUL_BIKE_SHARING
GROUP BY SEASONS, HOUR
ORDER BY avg_bike_count DESC
LIMIT 10
")

   SEASONS HOUR avg_temperature avg_bike_count
1  Summer  18   29.38791        2135.141
2  Autumn  18   16.03185        1983.333
3  Summer  19   28.27378        1889.250
4  Summer  20   27.06630        1801.924
5  Summer  21   26.27826        1754.065
6  Spring  18   15.97222        1689.311
7  Summer  22   25.69891        1567.870
8  Autumn  17   17.27778        1562.877
9  Summer  17   30.07691        1526.293
10 Autumn  19   15.06346        1515.568

## Task 8 - Rental Seasonality
#### Find the average hourly bike count during each season. 
Also include the minimum, maximum, and standard deviation of the hourly bike count for each season. 

> Hint : Use the SQRT(AVG(col*col) - AVG(col)*AVG(col) ) function where col refers to your column name for finding the standard deviation

### Solution 8

In [15]:
dbGetQuery(conn, "
SELECT SEASONS,
       HOUR,
       AVG(RENTED_BIKE_COUNT) AS avg_bike_count,
       MIN(RENTED_BIKE_COUNT) AS min_bike_count,
       MAX(RENTED_BIKE_COUNT) AS max_bike_count,
       SQRT(AVG(RENTED_BIKE_COUNT * RENTED_BIKE_COUNT) - AVG(RENTED_BIKE_COUNT) * AVG(RENTED_BIKE_COUNT)) AS std_dev_bike_count
FROM SEOUL_BIKE_SHARING
GROUP BY SEASONS, HOUR
")

   SEASONS HOUR avg_bike_count min_bike_count max_bike_count std_dev_bike_count
1  Autumn   0    709.4375      119            1336           219.14298
2  Autumn   1    552.5000      144            1001           191.54216
3  Autumn   2    377.4750       55             785           144.90134
4  Autumn   3    256.5500       28             514           102.53108
5  Autumn   4    169.0250       24             338            58.63957
6  Autumn   5    163.4125       24             264            53.88174
7  Autumn   6    359.4875       23             691           180.27049
8  Autumn   7    788.8765        5            1556           457.96861
9  Autumn   8   1345.0370        6            2391           758.35956
10 Autumn   9    848.4321        5            1322           334.52653
11 Autumn  10    715.2716        2            1113           252.56839
12 Autumn  11    802.9506       20            1284           302.57238
13 Autumn  12    934.6420       17            1634           347.69066
14 Autumn  13   1002.6667       18            1849           369.30997
15 Autumn  14   1058.8272       17            1995           403.85277
16 Autumn  15   1156.7037        8            2200           455.21810
17 Autumn  16   1293.2099       14            2270           498.10638
18 Autumn  17   1562.8765       23            2432           554.31649
19 Autumn  18   1983.3333       40            3298           778.44135
20 Autumn  19   1515.5679       19            2518           571.14972
21 Autumn  20   1321.7037       12            2259           508.99136
22 Autumn  21   1253.8148       21            2212           490.92858
23 Autumn  22   1130.2099       14            1868           411.96934
24 Autumn  23    828.7284        4            1523           292.97832
25 Spring   0    481.0889       22            1089           253.38673
26 Spring   1    363.9444       23             837           206.04322
27 Spring   2    252.9667        9             590           145.32266
28 Spring   3    168.4778        2             423           101.20444
29 Spring   4    108.2222        2             252            59.64577
30 Spring   5    116.1778        6             265            64.93117
⋮  ⋮       ⋮    ⋮              ⋮              ⋮              ⋮
67 Summer  18   2135.14130     17             3556           884.08294
68 Summer  19   1889.25000     18             2984           728.87994
69 Summer  20   1801.92391     10             2579           662.21626
70 Summer  21   1754.06522     17             2505           596.13742
71 Summer  22   1567.86957     16             2309           516.64344
72 Summer  23   1153.90217     15             1732           377.80666
73 Winter   0    165.17778     42              342            63.81163
74 Winter   1    159.05556     43              337            65.84247
75 Winter   2    117.78889     38              312            54.94533
76 Winter   3     77.81111     21              230            37.68256
77 Winter   4     50.47778     20              120            19.05561
78 Winter   5     51.22222     13              100            18.98759
79 Winter   6     92.82222      9              200            45.48372
80 Winter   7    209.56667      3              498           125.47121
81 Winter   8    422.20000      4              937           253.13778
82 Winter   9    254.60000      3              509           111.70276
83 Winter  10    186.40000      4              339            67.98150
84 Winter  11    228.32222      9              388            78.23964
85 Winter  12    263.63333      4              479            88.68163
86 Winter  13    275.25556      7              606            98.32616
87 Winter  14    284.28889     17              611           105.02394
88 Winter  15    298.64444      7              621           117.54473
89 Winter  16    308.57778      9              688           126.50569
90 Winter  17    342.51111      8              646           131.99514
91 Winter  18    438.30000     11              929           216.66413
92 Winter  19    304.03333     19              619           140.32070
93 Winter  20    243.23333      8              483            96.22694
94 Winter  21    240.50000     10              512            98.08061
95 Winter  22    225.13333     13              461            91.87687
96 Winter  23    173.43333     23              366            67.49684

Let's explore a bit and see what might be the most significant contributing factors in terms of the provided data.

## Task 9 - Weather Seasonality
#### Consider the weather over each season. On average, what were the TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBILITY, DEW_POINT_TEMPERATURE, SOLAR_RADIATION, RAINFALL, and SNOWFALL per season?
Include the average bike count as well , and rank the results by average bike count so you can see if it is correlated with the weather at all.

### Solution 9

In [19]:
dbGetQuery(conn, "
SELECT SEASONS,
       AVG(TEMPERATURE) AS avg_temperature,
       AVG(HUMIDITY) AS avg_humidity,
       AVG(WIND_SPEED) AS avg_wind_speed,
       AVG(VISIBILITY) AS avg_visibility,
       AVG(DEW_POINT_TEMPERATURE) AS avg_dew_point_temperature,
       AVG(SOLAR_RADIATION) AS avg_solar_radiation,
       AVG(RAINFALL) AS avg_rainfall,
       AVG(SNOWFALL) AS avg_snowfall,
       AVG(RENTED_BIKE_COUNT) AS avg_bike_count
FROM SEOUL_BIKE_SHARING
GROUP BY SEASONS
ORDER BY avg_bike_count DESC
")

  SEASONS avg_temperature avg_humidity avg_wind_speed avg_visibility
1 Summer  26.587711       64.98143     1.609420       1501.745
2 Autumn  13.821580       59.04491     1.492101       1558.174
3 Spring  13.021685       58.75833     1.857778       1240.912
4 Winter  -2.540463       49.74491     1.922685       1445.987
  avg_dew_point_temperature avg_solar_radiation avg_rainfall avg_snowfall
1  18.750136                0.7612545           0.25348732   0.00000000
2   5.150594                0.5227827           0.11765617   0.06350026
3   4.091389                0.6803009           0.18694444   0.00000000
4 -12.416667                0.2981806           0.03282407   0.24750000
  avg_bike_count
1 1034.0734
2  924.1105
3  746.2542
4  225.5412

## Task 10 - Total Bike Count and City Info for Seoul
#### Use an implicit join across the WORLD_CITIES and the BIKE_SHARING_SYSTEMS tables to determine the total number of bikes avaialble in Seoul, plus the following city information about Seoul: CITY, COUNTRY, LAT, LON, POPULATION, in a single view.
Notice that in this case, the CITY column will work for the WORLD_CITIES table, but in general you would have to use the CITY_ASCII column.

### Solution 10

In [20]:
dbGetQuery(conn, "
SELECT WC.CITY, 
       WC.COUNTRY, 
       WC.LAT, 
       WC.LNG, 
       WC.POPULATION, 
       SUM(BS.BICYCLES) AS total_bike_count
FROM WORLD_CITIES AS WC
JOIN BIKE_SHARING_SYSTEMS AS BS ON WC.CITY = BS.CITY
WHERE WC.CITY = 'Seoul'
GROUP BY WC.CITY, WC.COUNTRY, WC.LAT, WC.LNG, WC.POPULATION
")

  CITY  COUNTRY      LAT     LNG POPULATION total_bike_count
1 Seoul Korea, South 37.5833 127 21794000   20000

## Task 11 - Find all city names and coordinates with comparable bike scale to Seoul's bike sharing system
#### Find all cities with total bike counts between 15000 and 20000. Return the city and country names, plus the coordinates (LAT, LNG), population, and number of bicycles for each city.
Later we will ask you to visualize these similar cities on leaflet, with some weather data.

### Solution 11

In [21]:
dbGetQuery(conn, "
SELECT WC.CITY,
       WC.COUNTRY,
       WC.LAT,
       WC.LNG,
       WC.POPULATION,
       BS.BICYCLES AS bike_count
FROM WORLD_CITIES AS WC
JOIN BIKE_SHARING_SYSTEMS AS BS ON WC.CITY = BS.CITY
WHERE BS.BICYCLES BETWEEN 15000 AND 20000
")

  CITY     COUNTRY      LAT     LNG      POPULATION bike_count
1 Beijing  China        39.9050 116.3914 19433000   16000
2 Ningbo   China        29.8750 121.5492  7639000   15000
3 Shanghai China        31.1667 121.4667 22120000   19165
4 Weifang  China        36.7167 119.1000  9373000   20000
5 Zhuzhou  China        27.8407 113.1469  3855609   20000
6 Seoul    Korea, South 37.5833 127.0000 21794000   20000

In [22]:
dbDisconnect(conn)

## Author(s)

<h4> Jeff Grossman </h4>
<h4> Lakshmi Holla </h4>


## Other Contributor(s)

<h4>  Malika Singla </h4>

## Change log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2022-03-03        | 1.0     |Lakshmi Holla  | Created lab using sqlite3          |

## <h3 align="center"> © IBM Corporation 2022. All rights reserved. <h3/>